[Unit]
Description=this is a silly weather service

[Service]
Type=simple
ExecStart=/home/vagrant/bin/wthr
WorkingDirectory=/etc
Restart=on-failure

[Install]
WantedBy=multi-user.target
